{% extends 'base.html' %} {% block body_class %}error-404{%endblock %} {% block
content %}

<div class="message-404">
  <h4 class="display-4 center-text">
    Sorry, page not found :( {{ request.status }}
  </h4>
  <img
    id="err-img"
    src="https://images.unsplash.com/photo-1617142108319-66c7ab45c711?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2FkJTIwZG9nfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
    alt="sad pug dog in blanket"
  />
  <br />
  <a href="/">Back to Homepage</a>
</div>

{% endblock %}
