{% extends 'base.html' %}

{% block title %}Nom Nom{% endblock %} 

{% block content %} 
<h1>About</h1>
<hr>

<p>Hi, there! <br><br>

    My name is <a href="https://hauqxngo.com/" target="_blank">Hau</a>. I created this app in order to help cooking and planning meals easier as it appears in a form of a to-do list, instead, you have a to-cook list. <br><br>

    After having a baby and the little one grows into a toddler who needs her food to be varied. I've actually been doing this manually by writing on a board on my fridge every time I'm planning/thinking about what I want to cook next. Also, the purpose is to avoid spoiled fresh vegetables or leftovers that could be forgotten in the back of the fridge. However, I didn't have the luxury of getting a random recipe to add to my list like <a href="#">this</a>. <br><br>

    I hope you found this helpful. If you have any feedback, please reach out at hauqxngo@gmail.com. I appreciate your input. <br><br>
    
    Thanks for visiting and have a great day!
</p>

{% endblock %}