{% extends 'base.html' %}

{% block title %}Nom Nom{% endblock %} 

{% block content %} 
<h1>About</h1>
<hr>

<p>Hi, there. Welcome to Nom Nom! <br><br>

    My name is <a href="https://hauqxngo.com/" target="_blank">Hau</a>. I created this app in order to help cooking and planning meals easier as it appears in a form of a to-do list, instead, you have a to-cook list. <br><br>

    After having a baby, and the little one grows into a toddler who needs her food to be varied, I have the need to plan things out every single day. <br><br>
    <!-- Also, the purpose is to avoid spoiled fresh vegetables or leftovers that could be forgotten in the back of the fridge. However, I didn't have the luxury of getting a random recipe to add to my list like <a href="#">this</a>. -->

    I hope you found this helpful. If you have any feedback, please reach out at hauqxngo@gmail.com.

    <h3>How to use this app:</h3>
    <hr>
    It is quite simple and explanatory.
    <h5>For non-members:</h5>
        <li><a href="/" target="_blank">Get a random recipe</a> filtered by your diets or restrictions (ex: vegan, keto, gluten-free, dairy-free, etc.).</li>
    <h5>For registered users (<a href="/register" target="_blank">join</a> for free), you can:</h5>
            <ul>
                <li>Add a random recipe to your to-cook list &#10003;</li>
                <li>Add your own recipe &#10003;</li>
                <li>Add a recipe link you stumbled accross somewhere (ex: videos from YouTube, Instagram, Tiktok, etc) &#10003;</li>
                <li>Check your recipe off the list after you made one &#10003;</li>
            </ul>
    </ul>
    <hr>
    Thanks for visiting and time to get cooking!
</p>

{% endblock %}