{% extends 'base.html' %}

{% block title %}Nom Nom{% endblock %} 

{% block content %} 
<h1>How to Use</h1>
<hr>
    <h2>For non-members:</h2>
        <p class="about_nonmembers"><a href="/" target="_blank">Get a random recipe</a> filtered by your diets or restrictions (ex: vegan, keto, gluten-free, dairy-free, etc.).</p>

    <h2>For registered users:</h2>
            <ul>
                <li>Add a random recipe to your to-cook list &#10003;</li>
                <li>Add your own recipe &#10003;</li>
                <li>Add a recipe link you stumbled across somewhere (ex: videos from YouTube, Instagram, TikTok, etc) &#10003;</li>
                <li>Check your recipe off the list after you made it &#10003;</li>
            </ul>
    </ul>
    <hr>
    Thanks for visiting!
</p>

{% endblock %}
