{% extends 'base.html' %} {% block title %}Nom Nom{% endblock %} {% block
content %}
<h1>What to cook next?</h1>
<p class="lead">
  Get a random recipe by diets, meal types, cuisines, or intolerances.
</p>

<div class="form">
  <form action="/recipes" class="center-form">
    <div class="input-group my-4">
      <div class="form-outline">
        <input
          type="text"
          name="tags"
          id="form1"
          class="form-control rounded"
          placeholder="Examples: vegetarian, dessert, etc."
          size="40"
        />
      </div>
      <button class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
</div>

{% if new_recipes %}
<div class="card" style="width: 20rem">
  <img
    class="card-img-top"
    src="{{ new_recipes['image'] }}"
    alt="{{ new_recipes['title'] }} picture"
  />
  <div class="card-body">
    <a href="{{ new_recipes['sourceUrl'] }}" target="_blank"
      ><h5 class="card-title center-text">{{ new_recipes['title'] }}</h5></a
    >
    <li class="card-text">
      Ready in: {{ new_recipes['readyInMinutes'] }} minutes
    </li>
    <li class="card-text">Servings: {{ new_recipes['servings'] }}</li>
    <a
      href="{{ new_recipes['sourceUrl'] }}"
      target="_blank"
      class="btn btn-primary"
    >
      Go to recipe <i class="fas fa-utensils"></i>
    </a>
    {% if not g.user %}
    <p class="register-msg">
      <i
        ><a href="/register">Sign up</a> to add recipes to your list. Already
        have an account? Log in <a href="/login">here.</a></i
      >
    </p>
    {% endif %}
  </div>
</div>
{% endif %} {% endblock %}
