{% extends 'base.html' %}

{% block title %}My Recipes{% endblock %} 

{% block content %} 
<h1>To-cook List</h1>
<p class="lead">Start planning your next meals by adding new recipes to your list.</p>

{% for recipe in recipes %}
<ul class="list-group" id="recipe-list">
  <li class="list-group-item">
    <a href="/recipes/{{ recipe.id }}">{{ recipe.title }}</a>
    <span class="text-muted ml-2 text-sm"><small><i>Added on {{ recipe.created_on.strftime('%B %d, %Y') }}</i></small></span>
  </li>
</ul>
{% endfor %}

<form action="/recipes">
  <div class="input-group my-4">
    <div class="form-outline">
      <input type="text" name="tags" id="form1" class="form-control rounded" placeholder="Get a random recipe." size="40"/>
    </div>
    <button class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>

<p>OR</p>

<a href="/recipes/new" class="btn btn-success">Add New Recipe</a>

{% endblock %}