{% extends 'base.html' %}

{% block title %}My Recipes{% endblock %} 

{% block content %} 

<h1>To-cook List</h1>
<p class="lead">Start planning your next meals by adding new recipes to your list.</p>

<form action="/users/{{ g.user.id }}/recipes/random">
  <div class="input-group my-4">
    <div class="form-outline">
      <input type="text" name="tags" id="form1" class="form-control rounded" placeholder="Examples: vegetarian, dessert, etc." size="40"/>
    </div>
    <button class="btn btn-primary">
      <!-- <i class="fas fa-search"></i> -->
      <i class="fas fa-random"></i> Add Random Recipe
    </button>
  </div>
</form>

<!-- <a href="/users/{{ g.user.id }}/recipes/random" class="btn btn-primary mb-4">
  <i class="fas fa-random"></i> Add A Random Recipe
</a> -->
<a href="/recipes/new" class="btn btn-success mb-4">
  <i class="far fa-plus-square"></i> Add New Recipe
</a>
<!-- <a href="/recipes/{{ g.user.id }}/delete_all" class="btn btn-danger mb-4">
  <i class="fas fa-trash"></i> Delete All
</a> -->

<div id="recipe-list">
  {% for recipe in recipes %}
    <ul class="list-group list-group-flush" id="checked">
      <li class="list-group-item">
        {% if recipe.done == False %} 
        <a href="/recipes/{{ recipe.id }}/done"><i class="far fa-circle"></i></a>
        <a href="/recipes/{{ recipe.id }}" class="recipe-title">{{ recipe.title }}</a>
        {% elif recipe.done == True and recipe.leftovers == False %} 
        <a href="/recipes/{{ recipe.id }}/done"><i class="fas fa-check-circle" style="color: #87cfcf;"></i></a>
        <s>
          <a href="/recipes/{{ recipe.id }}" class="recipe-title">{{ recipe.title }}</a>
        </s>
        {% else %}
        <a href="/recipes/{{ recipe.id }}/done"><i class="fas fa-check-circle" style="color: #87cfcf;"></i></a>
        <a href="/recipes/{{ recipe.id }}" class="recipe-title">{{ recipe.title }}</a>
        <!-- <span class="text-muted ml-2 text-sm"><small><i>Made on {{ recipe.done_on }}</i></small></span> -->
        {% endif %}

        <!-- Single icon dropdowns -->
        <div class="dropdown">
          <button class="dropbtn">
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-content">
            <a href="/recipes/{{ recipe.id }}/edit">Edit</a>
            <a href="/recipes/{{ recipe.id }}/delete" method="POST">Delete</a>
          </div>
        </div>
      </li>
    </ul>
  {% endfor %}
</div>
{% endblock %}