{% extends 'base.html' %}

{% block title %}My Recipes{% endblock %} 

{% block content %} 

<h1>To-cook List</h1>
<p class="lead">Start planning your next meals by adding new recipes to your list.</p>

<form action="/users/{{ g.user.id }}/recipes/random" class="center-form">
  <div class="input-group my-4">
    <div class="form-outline">
      <input type="text" name="tags" id="form1" class="form-control rounded" placeholder="Examples: vegetarian, dessert, etc." size="40"/>
    </div>
    <button class="btn btn-primary">
      <i class="fas fa-random"></i> Add Random Recipe
    </button>
  </div>
</form>

<a href="/recipes/new" class="btn btn-success mb-1">
  <i class="far fa-plus-square"></i> Add New Recipe
</a>

<div id="recipe-list">
  {% for recipe in recipes %}
    <ul class="list-group list-group-flush" id="checked">
      <li class="list-group-item">
        {% if recipe.done == False %} 
        <a href="/recipes/{{ recipe.id }}/done"><i class="far fa-circle"></i></a>
        <a href="/recipes/{{ recipe.id }}" class="recipe-title">{{ recipe.title }}</a>
        {% else %} 
        <a href="/recipes/{{ recipe.id }}/done"><i class="fas fa-check-circle" style="color: #87cfcf;"></i></a>
        <s>
          <a href="/recipes/{{ recipe.id }}" class="recipe-title">{{ recipe.title }}</a>
        </s>
        {% endif %}

        <!-- Single icon dropdowns -->
        <div class="dropdown">
          <button class="dropbtn">
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-content">
            <a href="/recipes/{{ recipe.id }}/edit">Edit</a>
            <a href="/recipes/{{ recipe.id }}/delete" method="POST">Delete</a>
          </div>
        </div>
      </li>
    </ul>
  {% endfor %}
</div>
{% endblock %}
