{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %} 

{% block content %} 
<h1>Account Setting</h1>

<div class="row">

    {% if user.image_url %}
    <div class="col-sm-2 col-6">
      <img src="{{ user.image_url }}"
           alt="{{ user.full_name }}"
           class="img-fluid">
    </div>
    {% endif %}
  
    <div class="col-sm-6 col-12">
      <h1>{{ user.full_name }}</h1>
  
      <form action="/users/profile" method="GET">
        <button class="btn btn-primary btn-sm">Edit</button>
      </form>

      <form id="deleteForm" action="/users/{{ user.id }}" method="GET">
        <button onclick="confirmDelete()" class="btn btn-danger btn-sm mt-2">Delete
        </button>
      </form>
  
    </div>
</div>

{% endblock %}